.vscode
.vs
.directory
[Nn]ode_modules/
[Dd]ist/
.DS_Store
*.log
.idea
.eslintcache
package-lock.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in
[Oo]bj
[Oo]ut
msbuild.log
msbuild.err
msbuild.wrn