.formcontainer{
    margin-top: 150px;
}

header{
    height: 65px;
    padding-top: 5px;
    background-color: black;
    color: rgb(228, 29, 69);
    .forsent{
        color: rgb(204, 204, 11);
    }
}


button a {
    color: white;
}


#navbackground {
    background-color:grey;
    height: 873px;
   
    
}

.navitemcolor {
    color: white;
    
}

.navitemcolor:hover {
    color: rgb(23, 179, 226);
}

body{
    display: block;
}
.broo{position: relative;
    height: 250px;
    width: 450px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #008CBA;
    overflow-y: scroll;
    border-radius: 5px;
    
}

  input {
    border: 1px solid transparent;
    background-color: whitesmoke;
    border: 2px solid lightsteelblue;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: whitesmoke;
    border: 2px solid lightsteelblue;
    width: 100%;
  }

.float_left {
    float: left;
}

.padding_none {
    padding-left: 0px!important;
}

#content {
    margin-top: 50px;
}

#logOutBtn {
    color: white;
}

.topmargin {
    margin-top:10px;
}

.bottommargin {
    margin-bottom: 20px;
}

h2 {
    padding-top:20px;
    padding-bottom: 20px;
}

.h2_profile {
    margin-left: 38px;
}

.btn_style {
    margin-left: 40px;
    margin-top: 10px;
}

.TripStyling{
    //display: flex;
    padding: 10px 20px;
    color: #fff;
    font-weight: 450;
    margin: 5px 0;
    transition: 0.5s;
    border-radius: 5px;
    align-self: center; 
}

.TripStyling:nth-child(even) {
    background-color: rgb(149, 192, 212);
}
  .TripStyling:nth-child(odd) {
    background-color: lightsteelblue;
}


.TripListStyle{
    position: relative;
    height: 200px;
    background-color: whitesmoke;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid lightsteelblue;
    overflow-y: scroll;
    border-radius: 5px;
    list-style-type: none;
}

ul{
    list-style-type: none;
}

.blar{
    margin: 10px;
    padding: 10px;
}
.Radius{
    border-radius: 10px;
}

.stein{
    border-radius: 5px;
    background-color: lightsteelblue;
}

.goleft{
    float: left;
    margin-top: 10px;
}
.halo{
    background-color: lightgray;
}
