.formcontainer{
    margin-top: 150px;
}

header{
    height: 65px;
    padding-top: 5px;
    background-color: black;
    color: rgb(228, 29, 69);
    .forsent{
        color: rgb(204, 204, 11);
    }
}


button a {
    color: white;
}


#navbackground {
    background-color:grey;
    height: 873px;
   
    
}

.navitemcolor {
    color: white;
    
}

.navitemcolor:hover {
    color: rgb(23, 179, 226);
}

body{
    display: block;
}
.broo{position: relative;
    height: 250px;
    width: 450px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #008CBA;
    overflow-y: scroll;
    border-radius: 5px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

.float_left {
    float: left;
}

.padding_none {
    padding-left: 0px!important;
}

#content {
    margin-top: 50px;
}