.formcontainer{
    margin-top: 150px;
}

header{
    height: 65px;
    padding-top: 5px;
    background-color: black;
    color: rgb(228, 29, 69);
    .forsent{
        color: rgb(204, 204, 11);
    }
}


button a {
    color: white;
}


#navbackground {
    background-color:grey;
    height: 873px;
   
    
}

.navitemcolor {
    color: white;
    
}

.navitemcolor:hover {
    color: rgb(23, 179, 226);
}

body{
    display: block;
}
.broo{position: relative;
    height: 250px;
    width: 450px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #008CBA;
    overflow-y: scroll;
    border-radius: 5px;
}



